<%- include('includes/head', {pageTitle: 'An Error Occured' }) %>
    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1>Something Went Wrong</h1>
                <p>Something went wrong on the server, please try again later!</p>
                <p><a class="btn" href="/">Back to home</a></p>
            </main>
            <%- include('includes/footer') %>