<header>
    <div><a href="#">HandMade Shop</a></div>
    <nav>
        <ul>
            <% if(locals.isAuth) { %>
                <li>
                    <button>Logout</button>
                </li>
            <% } %>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>